body {
  font-family: cursive, fantasy, sans-serif;
  padding-left: 10px;
  color: #9400D3;
  background: url(background1.jpg) black;
  background-size: cover;
}

#title {
  text-decoration: underline;
}

.header {
  text-align: center;
  font-weight: bold;
  color: #FFE4C4;
}

.tagline {
  text-align: left;
  font-style: italic;
  background-color: #9400D3;
  background-size: contain;
  padding-bottom: 5px;
  padding-left: 15px;
  box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.6);
}

.skills {
  background-color: #FFE4C4;
  text-align: left;
  border: 2px; black;
  width: 70%;
  float: center;
  padding-bottom: 5px;
  padding-left: 15px;
  box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.6);
}

.contact {
  background-color: #FFE4C4;
  align: center;
  padding-bottom: 5px;
  padding-left: 15px;
  box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.6);
  width: 55%
}
